* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/**********Header and Nav Bar***************/

header {
    background-color: rgb(245, 243, 243);
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav {
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    list-style: none;
    font-size: 1.75em;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav li {
    display: inline-block;
    padding: 0 10px;
}

.logo {
    position: absolute;
    left: 20px;
}

/**********Search Form*******************/

main {
    padding-top: 115px;
    margin-left: 10%;
    font-size: 0;
}

form {
    width: 650px;
    position: relative;
}

.form_label {
    display: block;
    font-weight: 600;
    font-size: 1.10em;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 18px;
}

#search {
    width: 600px;
    height: 40px;
    font-size: 1.25em;
    font-weight: 600;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 20px;
}

.search_icon {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 10px;
    position: absolute;
    right: 5px;
    margin-top: 0;
}

/*******************Carousel Buttons***************************/

.carousel {
    margin-top: 50px;
    width: 650px;
}

.carousel_buttons {
    padding-left: 0;
    padding-right: 100px;
}

.carousel_buttons li {
    display: inline-block;
    border: 1px solid lightgray;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 600;
}

#list_count {
    padding-left: 40px;
    padding-right: 40px;
}

.previous_page {
    border-radius: 5px 0 0 5px;
}

.next_page {
    border-radius: 0 5px 5px 0;
}

/***************************Search Results***************************/

.search_results {
    margin-top: 75px;
    width: 800px;
}

.result_list {
    font-size: 20px;
    padding-left: 0;
}

.result_list li {
    display: inline-block;
    color: #adabab;
    font-weight: 600;
}

.job_title a {
    color: blue;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}